body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    margin: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 7vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: white;
}

main {
    width: 500px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 15vh;
    align-self: center;
}

#addPostBtn {
    border-radius: 100%;
    margin-bottom: 2vh;
    height: 11vh;
    width: 11vh;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: black;
    font-size: 50px;
    background-color: #fafafa;
    outline: none;
    border: none;
}

#homeBtn {
    background-image: url('../ICONS/home.png');
    border-radius: 100%;
    height: 6vh;
    width: 6vh;
    background-size: contain;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

#myProfileBtn {
    background-image: url('../ICONS/profile.png');
    border-radius: 100%;
    height: 6vh;
    width: 6vh;
    background-size: contain;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

#loginBtn {
    background-image: url('../ICONS/login.png');
    border: none;
    outline: none;
    height: 5vh;
    width: 5vh;
    background-size: contain;
    background-color: transparent;
    margin-right: 10px;
}

#logoutBtn {
    background-image: url('../ICONS/logout.png');
    border: none;
    outline: none;
    height: 5vh;
    width: 5vh;
    background-size: contain;
    background-color: transparent;
    margin-right: 10px;
}

.modal {
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(1, 1, 1, 0.8);
    position: fixed;
    top:0;
}

.form {
    height: 50vh;
    width: 70vw;
    position: absolute;
    background-color: white;
    top: 15vh;
    left: 15vw;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding-top: 20px;
}

.form form {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

form input, button {
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    max-width: 90%;
    border-radius: 10px;
}
input {
    padding: 6px 6px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

.modalClose {
    position: absolute;
    top:0;
    right:0;
    color: white;
    border: none;
    background-color: transparent;
    font-size: 50px;
}

#headerSearch {
    background-color: white;
    background-image: url('../ICONS/search.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
    width: 40px;
    border: none;
    transition: width 0.4s ease-in-out;
    outline: none;
    max-height: 100%;
}
#headerSearch:focus {
    width: 90%;
}

/* for autocomplete box */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.suggestionImg {
    height: 5vh;
    border-radius: 100%;
    margin-right: 10px;
}

.imgWithPlaceholder {
    background: url('../IMG/placeholder.jpg') no-repeat scroll 0 0;
}
.headerIcon h1 {
    font-family: 'Parkway Lush', sans-serif;
    text-align:center;
}
.headerIcon {
    position: absolute;
    left: 50%;
    width: 15%;
    margin-left: -7.5%;
    line-height: 0;
}